<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0.1,maximum-scale=10,user-scalable=yes">
<title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
<link rel="stylesheet" href="/style.css">
</head>
<body class="bare">
{{ content | safe }}
</body>
</html>
