---
layout: layout.njk
title: CONTACT
---

<h2>■ CONTACT</h2>

<table class="list" cellspacing="0" cellpadding="4" border="1">
<tr><th>サイト名</th><td>{{ site.title }}</td></tr>
<tr><th>管理人</th><td>{{ site.author }}</td></tr>
<tr><th>開設</th><td>{{ site.since }}</td></tr>
<tr><th>連絡先</th><td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td></tr>
</table>
